<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
  </ul>
</nav>
<section class="section is-main-section">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label">
                <h3 class="subtitle is-spaced">
                  Accounts
                </h3>
                <h1 class="title">
                  {{(statistic?.account_count ?? 0) | number}}
                </h1>
              </div>
            </div>
            <div class="level-item has-widget-icon">
              <div class="is-widget-icon">
                <mat-icon class="is-size-1 has-text-primary">group</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label">
                <h3 class="subtitle is-spaced">
                  Websites
                </h3>
                <h1 class="title">
                  {{(statistic?.website_count ?? 0) | number}}
                </h1>
              </div>
            </div>
            <div class="level-item has-widget-icon">
              <div class="is-widget-icon">
                <mat-icon class="icon is-size-1 has-text-info">language</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
