<div class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4">
          <form class="box" [formGroup]="form" (ngSubmit)="submit()">
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" [class.is-danger]="form.controls['email'].invalid" type="email"
                  placeholder="john@example.com" formControlName="email">
                <span class="icon is-small is-left">
                  <mat-icon>mail</mat-icon>
                </span>
                <span class="icon is-small is-right">
                  <mat-icon *ngIf="form.controls['email'].invalid" class="has-text-warning">error</mat-icon>
                  <mat-icon *ngIf="!form.controls['email'].invalid" class="has-text-success">check</mat-icon>
                </span>
              </div>
              <p class="help is-danger" *ngIf="form.controls['email'].hasError('required')">Email is required.</p>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left has-icons-right">
                <input type="password" class="input" [class.is-danger]="form.controls['password'].invalid" formControlName="password">
                <span class="icon is-small is-left">
                  <mat-icon>key</mat-icon>
                </span>
                <span class="icon is-small is-right">
                  <mat-icon *ngIf="form.controls['password'].invalid" class="has-text-warning">error</mat-icon>
                </span>
              </div>
              <p class="help is-danger" *ngIf="form.controls['password'].hasError('required')">Password is required.</p>
              <p class="help is-danger" *ngIf="form.controls['password'].hasError('minlength')">Password is should be minimum 6 characters.</p>
            </div>
            <div class="field" *ngIf="isInvalidEmailOrPassword">
              <p class="help is-danger">Email or password is invalid.</p>
            </div>
            <!--
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
              </div>
            </div>
             -->
            <div class="field buttons" fxLayout="row" fxLayoutAlign="space-between center">
              <a href="/register" class="button" type="button" [class.is-loading]="isLoading">Register</a>
              <button class="button is-success" type="submit" [class.is-loading]="isLoading" [disabled]="isLoading || form.invalid">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
