<div class="app-table">
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <table mat-table [dataSource]="dataSource" matSort matSortDirection="desc"
    class="table is-narrow is-hoverable is-fullwidth">

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{column.title}}
      </th>

      <ng-container *ngIf="column.name == 'index'; else elseBlockColumnName">
        <td mat-cell *matCellDef="let element; let i = index;">{{(i + 1) + (pageSize * pageIndex)}}</td>
      </ng-container>
      <ng-template #elseBlockColumnName>
        <td mat-cell *matCellDef="let row" (click)="onCellClicked(row, column.name)">
          <ng-container *ngIf="hasCell(row); else elseBlockHasCell">
            {{column?.cell!(row)}}
          </ng-container>
          <ng-template #elseBlockHasCell>
            {{row?.[column.name]}}
          </ng-template>
        </td>
      </ng-template>
    </ng-container>

    <!-- paginator row -->
    <ng-container matColumnDef="paginator">
      <td mat-footer-cell *matFooterCellDef [colSpan]="columns.length">
        <mat-paginator #pageChange showFirstLastButtons aria-label="Select page" [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="total"></mat-paginator>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
    <tr mat-footer-row *matFooterRowDef="['paginator']; sticky: true"></tr>
  </table>
</div>
