:host {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.app-table {
  position: relative;
  overflow: auto;
}

.table {
  min-width: 100%;
  width: max-content;
  margin-bottom: 0;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-header-cell,
.mat-cell {
  vertical-align: middle;
}

.mat-column-index {
  width: 100px;
}

.mat-column-action {
  width: 50px;
  .action-container {
    opacity: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    transition: all 0.4s;
    background-color: #fafafa;
  }
  .action-trigger {
    &:hover {
      .action-container {
        opacity: 1;
        width: 100px;
      }
    }
  }
}


.mat-paginator {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
