<div class="app-table">
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <div class="is-flex is-justify-content-space-between">
    <mat-form-field class="bulk-actions">
      <mat-label>Bulk actions</mat-label>
      <mat-select>
        <ng-container *ngIf="selection.hasValue()">
          <ng-container *ngFor="let action of displayedActions">
            <mat-option *ngIf="isShowActionHeader(action)" (click)="onActionMultipleClicked(action)">
              <mat-icon [ngClass]="action?.class ?? 'has-text-primary'" [style.color]="action.color">{{action.icon}}</mat-icon>
              <span>{{action.title}}</span>
            </mat-option>
          </ng-container>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort matSortDirection="desc"
    class="table is-narrow is-hoverable is-fullwidth">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select" sticky>
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox #checkBoxToggleAllRows (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? onRowChecked(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Col -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.name" [sticky]="column.name == 'index'">
      <!-- Header -->
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{column.title}}
      </th>

      <ng-container *ngIf="column.name == 'index'; else elseBlockColumnName">
        <!-- Index Cell -->
        <td mat-cell *matCellDef="let element; let i = index;">{{(i + 1) + (pageSize * pageIndex)}}</td>
      </ng-container>
      <ng-template #elseBlockColumnName>
        <!-- Other Cell -->
        <td mat-cell *matCellDef="let row" (click)="onCellClicked(row, column.name)">
          {{row?.displayed_cell?.[column.name]}}
        </td>
      </ng-template>
    </ng-container>

    <!-- Action col -->
    <ng-container matColumnDef="action" stickyEnd>
      <!-- Action Header -->
      <th mat-header-cell *matHeaderCellDef></th>
      <!-- Action Cell -->
      <td mat-cell *matCellDef="let row; index as i">
        <div class="action-trigger">
          <mat-icon class="is-clickable">more_vert</mat-icon>
          <div class="action-container buttons">
            <button class="action" mat-icon-button *ngFor="let action of displayedActions"
              [matTooltip]="action.title" matTooltipPosition="above" matTooltipHideDelay="100"
              (click)="onActionClicked(action.name, row[uuidKeyName])">
              <mat-icon [ngClass]="action?.class ?? 'has-text-primary'" [style.color]="action.color">{{action.icon}}</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
  </table>
</div>
<mat-paginator #pageChange showFirstLastButtons aria-label="Select page" [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="total"></mat-paginator>
